    .banner{
        transform:rotate(-2deg);
        background-color: $color-yellow;
        overflow: hidden;
        user-select: none;
        padding: 5px 0px;
        margin-bottom: 3rem;
        width: 100%;
        &_content {
            width: auto;
            &--text{
                animation-name: animation;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                text-transform: uppercase;
                box-sizing: border-box;
                letter-spacing: 1px;
                padding: 0 5vw;
                font-family: blenny, sans-serif;
                font-style: normal;
                color: $color-white;
                float: left;
                font-size: 1.4rem;
                animation-name: animation-ltr;
                @media only screen and (max-width: 992px){
                    font-size: 1rem;
                }
                @media only screen and (max-width: 576px){
                    font-size: 0.8rem;
                    text-align: center;
                        
                            }
            }
            @keyframes animation-ltr {
                0% {
                    transform: translateX(0)
                }
                to {
                    transform: translateX(100%)
                }
            }
        }
    } 