.cart{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:$color-red;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 1px 1px 10px #999;
    &:hover, &:active{
        background-color:$color-blue;
        color:#FFF;
        border: none;
    }
    &_button{
        margin: auto;
        font-size: 1.2rem;
        line-height:0;
    }
}

.modal{
    height: 100%;
    &_title{
        font-family: blenny, sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 35px;
        color: $color-blue;
    }
    &_buy{
        width: 40%;
        height: 50px;
        display: inline-block;
        border: none;
        margin: 0;
        text-decoration: none;
        background: $color-blue;
        color: $color-black;
        font-family: itc-american-typewriter, serif;
        font-size: 10px;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, transform 150ms ease;
        box-shadow: -3px 3px 0px $color-black;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: none;
        color: $color-white;
    }
    &-body{
        height: max-content;
    }
    .cart{
    &__item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__img{
        width: 10%;
        &--item{
            width: 120px;
        }
    }
    &__title{
        &--item{
            font-family: itc-american-typewriter, serif;
            font-size: 20px;
            font-weight: bold;
        }
    }
    &__price{
        &--item{
            font-family: itc-american-typewriter, serif;
            font-size: 20px;
        }
    }
    &__quantity{
        &--item{
            width: 50px;
            border: 2px solid red;
            border-radius: 4px;
            font-family: itc-american-typewriter, serif;
            font-size: 20px;
        }
    }
    &__btn{
        &--item{
            border: none;
            margin: 0;
            padding: 0;
            width: auto;
            overflow: visible;
            background-color: $color-red;
            padding: 2px 15px;
            border-radius: 100px;
            color: white;
            &:hover{
                background-color: $color-blue;  
            }
        }
    }
}


}
