.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    @media only screen and (max-width: 992px){
        flex-direction: column;
    }
    &_logo{
        width: 20%;
        @media only screen and (max-width: 992px){
            width: 40%;
        }
        @media only screen and (max-width: 576px){
            width: 80%;
        }
        &_fill--01{
            fill:$color-yellow;
            animation:colors 2s step-start infinite;
            }
            @keyframes colors {
                33%   {fill:$color-yellow;}
                66%  {fill:#0039ea;}
                100%  {fill:#ee0a01;}
            }
        &--animate{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 120px;
            height: 120px;
            margin:-60px 0 0 -60px;
            animation:spin 50s infinite;
            transform-origin: 50% 50%;
        }
          @keyframes spin { 100% {
            transform:rotate(-360deg); } }
    }
    &_content{
        width: 40%;
        font-size: 0.2rem;
        font-family: itc-american-typewriter, serif;
        font-weight: 600;
        line-height: 25px;
        @media only screen and (max-width: 992px){
            width: 90%;
        }
        
    }
}