@import "variables.scss";
@import "head.scss";
@import "banner.scss";
@import "cards.scss";
@import "cart.scss";
@import "footer.scss";


*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}





